<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">标的</a></li>
    <li class="breadcrumb-item active" aria-current="page">标的详情</li>
  </ol>
</nav>
<!--申请人基本信息-->
<div class="sec">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>申请人基本信息</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <span>姓名:</span>
            <span>张军</span>
          </div>
          <div class="col-lg-3 ">
            <span>电话:</span>
            <span>130164136</span>
          </div>
          <div class="col-lg-3 ">
            <span>身份证号:</span>
            <span>411527199210145038</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <span>性别:</span>
            <span>男</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--申请借款标的的信息-->
<div class="sec">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>借款基本信息</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <span>项目Id: </span>
            <span>xxxxx</span>
          </div>
          <div class="col-lg-3">
            <span>项目名称</span>
            <span>融资贷款</span>
          </div>
          <div class="col-lg-3">
            <span>项目编号</span>
            <span>PNoxxx</span>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <span>借款金额: </span>
            <span>xxxxx</span>
          </div>
          <div class="col-lg-3">
            <span>借款周期</span>
            <span>融资贷款</span>
          </div>
          <div class="col-lg-3">
            <span>借款利率</span>
            <span>PNoxxx</span>
          </div>
        </div>
        <div class="row">
          <div class="">
            <span>自动投标: </span>
            <span>是</span>
          </div>
          <div class="">
            <span>借款原因说明: </span>
            <span>xxxxx</span>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

<!--申请借款标的的信息-->
<div class="sec">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>借款资料信息</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <span>贷款类型: </span>
            <span>信用贷</span>
          </div>
        </div>
        <p>证明照片: </p>
        <div>
          <img src=""  alt="身份证">
          <img src="" alt="信用证明">
          <img src="学历证明">
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>

