<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">借款管理</a></li>
    <li class="breadcrumb-item active" aria-current="page">借款资料编辑</li>
  </ol>
</nav>
<div class="container">
  <form class="">
    <mat-form-field >
      <input matInput placeholder="贷款人姓名">
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="借款周期">
    </mat-form-field>
    <button mat-raised-button color="primary">保存</button>
    <button mat-raised-button color="primary">生成标</button>
  </form>
</div>
