.product-table {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}

.mat-table {
  max-width: 100%;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-column-select {
  overflow: initial;
}
.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.filter-wapper input{
}
